<p style="color: green"><%= notice %></p>

<h1>Shelves</h1>

<div id="shelves">
  <% @shelves.each do |shelf| %>
    <h1><%= shelf.name %></h1>
    <% shelf.books.each do |shelved_book| %>
      <%= image_tag(shelved_book.image_link) %>
    <% end %>
    <p>
      <%= link_to "Show this shelf", shelf %>
    </p>
  <% end %>
</div>

<%= link_to "New shelf", new_shelf_path %>
