<% @books.each do |book| %>
  <h1><%= book.title %></h1>
  <h2><%= book.subtitle %></h2>
  <p><%= book.authors %></p>
  <p><%= book.categories %></p>
  <p><%= book.page_count %></p>
  <img src=<%= book.image_link%> >
<% end %>
